body {
	margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('');
    background-size: cover;
    justify-content: center;
    align-items: center;    
}

.container * {
    position:relative;
    z-index: 1;
    color: #FFFFFF;
}

.container::before {
    content:"";
    background-color: #00000052;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.container form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container button {
    margin-top: 5px;
    padding: 5px;
    background-color: green;
    border: none;
}

.container form input {
    height: 30px;
    width: 20vw;
}