body, html {
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/first-aid-supplies-first-aid-kits-clip-art-red-cross.jpg');
    background-size: 50px;
    background-repeat: space;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    height: 450px;
    box-sizing: border-box;
    padding: 50px;
    background-color: gray;
}

.right {
    height: 450px;
    box-sizing: border-box;
    padding: 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: 2px solid black;
}

form h2, label, input {
    color: white;
}

button {
    width: 30%;
}